<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/resume/css/home.css">
</head>

<body>
    <div class="header">
        <div class="menu">
            <!-- Menu Items -->
            <div class="menu-items">
                <div class="menu-home">
                    <a href="./" class="home">HOME</a>
                </div>
                <div class="menu-resume">
                    <a href="./resume" class="resume">RESUME</a>
                </div>
                <div class="menu-publications">
                    <a href="./publications" class="publications">PUBLICATIONS</a>
                </div>
                <div class="menu-projects">
                    <a href="./projects" class="projects">PROJECTS</a>
                </div>
                <div class="menu-blogs">
                    <a href="./blogs" class="blogs">BLOGS</a>
                </div>
                <div class="menu-awards">
                    <a href="./awards" class="awards">AWARDS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="info">
            <div class="left-info">
                <div class="profile-photo">
                    <img src="../../public/avatar-2.png" alt="Personal Photo" />
                </div>
            </div>

            <div class="right-info">
                <div class="title-welcome">
                    <h1>Hi! My name is NGO Van Uc.</h1>
                    <h2>I'm an AI Engineer and Researcher.</h2>
                </div>
                <br>
                <div class="introduce">
                    <p>I aim to apply my AI expertise to real-world challenges, contribute to impactful projects,
                        and grow through continuous learning and research.</p>
                </div>
                <br>
                <div class="download-cv">
                    <a href="../../public/resume/files/cv-demo.pdf" download class="btn-download-cv">
                        Download CV ⭳
                    </a>
                </div>
                <br>
                <div class="social-account">
                    <a href="https://facebook.com/" target="_blank" class="social-link facebook" title="Facebook">
                        <img src="../../public/resume/icons/facebook.svg" alt="Facebook" />
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="social-link twitter" title="Twitter">
                        <img src="../../public/resume/icons/x.png" alt="Twitter" />
                    </a>
                    <a href="https://linkedin.com/" target="_blank" class="social-link linkedin" title="LinkedIn">
                        <img src="../../public/resume/icons/linkedin.svg" alt="LinkedIn" />
                    </a>
                    <a href="https://github.com/" target="_blank" class="social-link github" title="GitHub">
                        <img src="../../public/resume/icons/github.svg" alt="GitHub" />
                    </a>
                    <a href="https://instagram.com/" target="_blank" class="social-link instagram" title="Instagram">
                        <img src="../../public/resume/icons/instagram.svg" alt="Instagram" />
                    </a>
                    <a href="https://freelancer.com/" target="_blank" class="social-link freelancer" title="Freelancer">
                        <img src="../../public/resume/icons/freelancer.svg" alt="Freelancer" />
                    </a>
                    <a href="https://mail.google.com/" target="_blank" class="social-link gmail" title="Gmail">
                        <img src="../../public/resume/icons/gmail.svg" alt="Gmail" />
                    </a>
                    <a href="https://scholar.google.com/citations?user=bftenwYAAAAJ&hl" target="_blank"
                        class="social-link scholar" title="Scholar">
                        <img src="../../public/resume/icons/googlescholar.svg" alt="Scholar" />
                    </a>
                </div>
                <div class="copyright">© 2025 NGO Van Uc. All rights reserved.</div>
            </div>
        </div>
    </div>
</body>

</html>