<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Van Uc - Resume</title>
    <link rel="icon" type="image/svg+xml" href="../../public/resume/icons/github.svg">
    <link rel="stylesheet" href="../../public/resume/css/common.css">
    <link rel="stylesheet" href="../../public/resume/css/resume.css">
    <link rel="stylesheet" href="../../public/resume/css/animations.css">
    <link rel="stylesheet" href="../../public/resume/css/enhancements.css">
</head>

<body>
    <div class="header">
        <div class="menu">
            <!-- Menu Items -->
            <div class="menu-items">
                <div class="menu-home">
                    <a href="./" class="home">HOME</a>
                </div>
                <div class="menu-resume">
                    <a href="./resume" class="resume">RESUME</a>
                </div>
                <div class="menu-publications">
                    <a href="./publications" class="publications">PUBLICATIONS</a>
                </div>
                <div class="menu-projects">
                    <a href="./projects" class="projects">PROJECTS</a>
                </div>
                <div class="menu-blogs">
                    <a href="./blogs" class="blogs">BLOGS</a>
                </div>
                <div class="menu-awards">
                    <a href="./awards" class="awards">AWARDS</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="content-table">
        <a href="#news">News</a>
        <a href="#education">Education</a> -->
    </div>
    <div class="container">
        <div class="personal-info">
            <div class="left-image">
                <div class="profile-photo">
                    <img src="../../public/avatar-2.png" alt="Personal Photo" />
                </div>
            </div>
            <div class="right-info">
                <h1>Ngo Van Uc</h1>
                <p>AI Researcher/Engineer, <a href="https://iad.donga.edu.vn/">IAD Institute</a></p>
                <p>Email: ngovanuc.1508@gmail.com | ucnv@donga.edu.vn</p>
                <p>Phone: +84 916 169 050</p>
            </div>
        </div>

        <div class="summary">
            <p>I aim to apply my AI expertise to real-world challenges, contribute to impactful projects,
                and grow through continuous learning and research.</p>
        </div>

        <p class="break-line"></p>

        <div class="news" id="news">
            <h3>News</h3>
            <br>
            <div class="list-news">
                <div class="news-item">
                    <li><strong>[2025-05-05]</strong> Started a new position as AI Researcher/Engineer at
                        <a href="https://iad.donga.edu.vn/">IAD</a>.
                    </li>
                </div>
            </div>
        </div>

        <p class="break-line"></p>

        <div class="education">
            <h3>Education</h3>
            <br>
            <li><strong>M.S.</strong> in <strong>Computer Science</strong>, Da Nang University of Science and
                Technology, Vietnam. Oct. 2025
                - Present</li>
            <li><strong>B.Eng.</strong> in <strong>Artificial Intelligence and Data Science</strong>, Dong A University,
                Vietnam.
                Oct. 2020 - Dec.
                2024</li>
        </div>

        <p class="break-line"></p>

        <div class="publications">
            <h3>Publications | <a href="https://scholar.google.com/citations?user=bftenwYAAAAJ&hl">Google Scholar</a>
            </h3>
            <br>
            <p>*: 1st co-authors, †: corresponding authors, C: conferences, J: journals, W: workshops, P: preprints</p>
            <br>
            <h4>2025</h4>
            <div class="publication-item">
                <div class="image-item">
                    <img src="../../me/publications/2025/fire-detection.png" alt="Publications" />
                </div>
                <div class="content-item">
                    <p>[C6] Pham Van Duc, <strong>Ngo Van Uc</strong>, Nguyen Si Thin & Pham Tan Khoi (2025).
                        "Application of Transfer Learning in Forest Fire Risk Detection". <i><strong>International
                                Conference on Resources, Environment and
                                Agriculture in the Digital Age and
                                Sustainable Development (2025)</strong></i>. <a
                            href="https://tinyurl.com/HoiNghiKHCN-LanVII">[Under
                            indexing]</a></p>
                </div>
            </div>
            <div class="publication-item">
                <div class="image-item">
                    <img src="../../me/publications/2025/fl-transformer-for-rul.png" alt="Publications" />
                </div>
                <div class="content-item">
                    <p>[C5] Pham Van Duc, <strong>Ngo Van Uc</strong>, Nguyen Si Thin & Pham Tan Khoi (2025).
                        "Context-Awareness on
                        Federated Transformer-based Prognostics for Equipment Life Assessment". <i><strong>EAI
                                International
                                Conference on Context-Aware Systems and Applications (EAI ICCASA 2025)</strong></i>. <a
                            href="https://doi.org/10.1234/jair.2025.5678">[Under indexing]</a></p>
                </div>
            </div>
            <div class="publication-item">
                <div class="image-item">
                    <img src="../../me/publications/2025/from-text-to-chatbot.png" alt="Publications" />
                </div>
                <div class="content-item">
                    <p>[C4] Nguyen Nang Hung Van, <strong>Ngo Van Uc*</strong>, Pham Van Quan*, Truc Thanh Tran, Phan
                        Thanh Tra, Truc Thi Kim Nguyen. "From Textbooks to Chatbots:
                        Applying Large Language Models in Vietnamese History Learning". <i><strong>2025 IEEE/ACIS 23rd
                                International Conference on Software Engineering Research, Management and Applications
                                (SERA)</strong></i>.
                        <a href="https://ieeexplore.ieee.org/abstract/document/11154638/">[PDF]</a>
                    </p>
                </div>
            </div>
            <div class="publication-item">
                <div class="image-item">
                    <img src="../../me/publications/2025/lightweight-xai.png" alt="Publications" />
                </div>
                <div class="content-item">
                    <p>[C3] Le Vu Hoang Duc, <strong>Ngo Van Uc*</strong>, Kim Duc Tran, Ludovic Koehl,
                        and Kim Phuc Tran. "Explainable Lightweight Federated Learning for
                        Load Forecasting with Smart Meter data". <i><strong>ISSAT International Conference on Data
                                Science in Business, Finance and Industry (2025)</strong></i>.
                        <a href="https://issatconferences.org/dsbfi2025.html">[Under indexing]</a>
                    </p>
                </div>
            </div>
            <br>
            <h4>2024</h4>
            <div class="publication-item">
                <div class="image-item">
                    <img src="../../me/publications/2024/aspect-sentiment.png" alt="Publications" />
                </div>
                <div class="content-item">
                    <p>[C2] <strong>Ngo Van Uc</strong><sup>†</sup>, Vo Ngoc Dat, Ngo Le Quan, Nguyen Si Thin, Pham Van
                        Quan.
                        "Aspect and Sentiment Detection in Vietnamese Text using
                        Transfer Learning and LSTM".
                        <i><strong>EAI International Conference on Responsible Artificial Intelligence and Data
                                Science (EAI RAIDS 2024)</strong></i>. <a
                            href="https://raids.eai-conferences.org/2024/cameraready/">[Under indexing]</a>
                    </p>
                </div>
            </div>
            <div class="publication-item">
                <div class="image-item">
                    <img src="../../me/publications/2024/compare-deeplearning-model.png" alt="Publications" />
                </div>
                <div class="content-item">
                    <p>[C1] Nguyen Nang Hung Van*, Phuc Hao Do, Tran Duc Le, <strong>Ngo Van Uc*</strong>, Truong Duy
                        Dinh, Van Dai Pham.
                        "Comparative Performance of Deep Learning Models in Detecting Invasive Ductal Carcinoma".
                        <i><strong>International Conference on Computer Science and its Applications
                                (2024)</strong></i>. <a
                            href="https://link.springer.com/chapter/10.1007/978-981-96-5693-6_39">[PDF]</a>
                    </p>
                </div>
            </div>
            <br>
            <h4>2023</h4>
            <div class="publication-item">
                <div class="image-item">
                    <img src="../../me/publications/2023/iot-botnet.png" alt="Publications" />
                </div>
                <div class="content-item">
                    <p>[J1] Van Quan Pham*, <strong>Van Uc Ngo*</strong>, Phuc Hao Do, Năng Hùng Vân Nguyễn. "IoT Botnet
                        Detection and Classification using Machine Learning Algorithms". <i><strong>Journal of Research,
                                Development and
                                Application on Information and Communication Technology (2023)</strong></i>. <a
                            href="https://ictmag.ictvietnam.vn/cntt-tt/article/view/1220">[PDF]</a></p>
                </div>
            </div>
        </div>

        <p class="break-line"></p>

        <div class="award">
            <h3>Awards and Patents</h3>
            <br>
            <li><strong>Best Paper Award</strong> at DSBFI, Jan. 2025.</li>
            <li><strong>Outstanding article</strong> in the Ministry of Information and Communications Journal, July
                2023.</li>
        </div>

        <p class="break-line"></p>

        <div class="award">
            <h3>Awards and Patents</h3>
            <br>
            <li><strong>Best Paper Award</strong> at DSBFI, Jan. 2025.</li>
            <li><strong>Outstanding article</strong> in the Ministry of Information and Communications Journal, July
                2023.</li>
        </div>

    </div>
    <div class="reference">
        <p><i>This template is referenced from <a href="https://www.raymin0223.com/index.html">Sangmin
                    Bae</a> and remaked by <strong>NGO Van Uc</strong> with ❤️</i></p>
        <br>
    </div>

    <script src="../../public/resume/js/common.js"></script>
</body>

</html>